<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INDEX</title>
</head>
<body>
    <form action="/" method="POST">
        <label for="nameH">Class's Name: </label>
        <input type="text" name="nameH" placeholder="Name Here">
        <br>
        <br>
        <label for="emailH">Attende's Email: </label>
        <input type="email" name="emailH" id="" placeholder="Attendee's Email Here">
        <br>
        <br>
        <label for="dateH">Class Scheduled Date: </label>
        <input type="datetime-local" name="dateH">
        <br>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>